body {
  margin: auto;
  box-sizing: border-box;
}

.horiz-rule-style {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

h1 {
  font-family: 'Cinzel', serif;
  font-weight: normal;
  font-size: 6vw;
  margin: 5px;
  padding-left: 20px;
  border: 5px;
}

.typingAnimation {
  font-family: 'Cutive Mono', monospace;
  font-weight: lighter;
  font-size: 3.8vw;
  padding-left: 20px;
  margin: 5px;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(39) infinite;
}
.animationDelay {
  animation-delay: 1.6s;
  width: 0%;
}
@keyframes typing {
  0% {width: 0%;}
  35%{width: 50%;}
  70% {width: 100%;}
  100% {width: 100%;}
  }

.featureWork {
}

h3 {
  margin-bottom: 5px;
  margin-top: 25px;
  padding-left: 40px;
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
  font-size: 30px;
}
h4, p {
  font-family: 'Work Sans', sans-serif;
  padding-left: 40px;
  font-size: 20px;
}

a {
  padding: 0 0 40px 40px;
  display: inline-block;
}
