body {
  margin: auto;
  box-sizing: border-box;
}

header {
  width: 100%;
}
.horiz-rule-style {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
  margin-bottom: 0;
}

h1 {
  font-family: 'Scope One', serif;
  font-weight: normal;
  font-size: 30px;
  margin: 5px;
  padding-left: 20px;
  border: 5px;
}

.typingAnimation {
  font-family: 'Scope One', serif;
  font-weight: lighter;
  font-size: 20px;
  padding-left: 20px;
  margin: 5px;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(39) infinite;
}
.animationDelay {
  animation-delay: 1.6s;
  width: 0%;
}
@keyframes typing {
  0% {width: 0%;}
  35%{width: 50%;}
  70% {width: 90%;}
  100% {width: 90%;}
  }
h2 {
  width: 100%;
  font-family: 'Scope One', serif;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  background-color: #1e3047;
  margin: 0 10px 10px 10px;
  padding: 10px 0;
  color: white;
}
.container-feature-work {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.feature-work {
  font-family: 'Scope One', serif;
  font-weight: normal;
  width: 320px;
  height: 268px;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid silver;
  border-radius: 10px;
  overflow: hidden;
}
img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

h3 {
  font-family: 'Scope One', serif;
  font-weight: normal;
  padding: 5px;
  margin: 5px;
  font-size: 18px;
  text-align: center;
  position: relative;
  text-decoration: underline;
  color: blue;

}
.feature-work:hover .show-details {
  animation: text-moveup 0.5s;
  animation-fill-mode: forwards;
}
.feature-work:hover img {
  animation: change-opacity 0.5s;
  animation-fill-mode: forwards;
}
@keyframes text-moveup {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-230px);
  }
}

@keyframes change-opacity {
  100% {
    opacity: 0;
  }
}

p {
  font-family: 'Scope One', serif;
  text-align: justify;
  font-size: 16px;
  padding: 5px;
  margin: 5px;
}

a {
  text-align: center;
  padding: 3px;
  height: 20px;
  background: silver;
  display: block;
}
