body {
  margin: auto;
  /* box-sizing: border-box; */
}

.horiz-rule-style {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
  margin-bottom: 0;
}

h1 {
  font-family: 'Scope One', serif;
  font-weight: normal;
  font-size: 6vw;
  margin: 5px;
  padding-left: 20px;
  border: 5px;
}

.typingAnimation {
  font-family: 'Scope One', serif;
  /* font-family: 'Cutive Mono', monospace; */
  font-weight: lighter;
  font-size: 3.7vw;
  padding-left: 20px;
  margin: 5px;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(39) infinite;
}
.animationDelay {
  animation-delay: 1.6s;
  width: 0%;
}
@keyframes typing {
  0% {width: 0%;}
  35%{width: 50%;}
  70% {width: 90%;}
  100% {width: 90%;}
  }
h2 {
  font-family: 'Scope One', serif;
  font-weight: normal;
  font-size: 5vw;
  text-align: center;
  background-color: #1e3047;
  margin: 0 10px 10px 10px;
  color: white;
}

.feature-work {
  font-family: 'Scope One', serif;
  font-weight: normal;
  width: 90%;
  height: 400px;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid silver;
  border-radius: 10px;
  overflow: scroll;
}
img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

h3 {
  font-family: 'Scope One', serif;
  font-weight: normal;
  padding: 5px;
  margin: 5px;
  font-size: 5vw;
  text-align: center;
}
h4, p {
  font-family: 'Scope One', serif;
  font-size: 4vw;
  padding: 5px;
  margin: 5px;
}

a {
  padding: 0 0 40px 40px;
  display: inline-block;
}
