
section{
  width: 100%;
}
/* .feature-work-photo {
  width: 100%;
  margin: auto;
  padding: 60px 20px 15px 20px;
} */
@media screen and (min-width: 800px) {
  h1 {
    font-size: 40px;
  }
  .typingAnimation {
    font-size: 30px;
  }
}
/* @media screen and (min-width: 800px) {
  .feature-work {width: 33.33%;}
}

@media screen and (min-width: 451px) and (max-width:799px) {
  .feature-work {width: 50%;}
} */

/* @media screen and (max-width: 450px) {
  .logo {
    height: 70px;
  }
  .headerText {
     font-size: 10px;
     padding: 0 30px;
  }
} */
